.wrapper {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}

.user-info-wrapper {
    width: 29%;
}

.apps-list-wrapper {
    width: 70%;
}

.load-more {
    display: block;
    margin: 10px auto 0;
    font-size: 16px;
    background: transparent;
    cursor: pointer;
    width: 250px;
    padding: 6px 12px;
    border: 1px gray solid;
    border-radius: 6px;
}

.load-more:hover {
    background: #162838;
}

.load-more:active {
    background: #364b6c;
}